* {
  box-sizing: border-box;
}
.title {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}
.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.right {
  padding-right: 30px;
}
.box .group {
  width: 300px;
  height: 110px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}
.box .div {
  position: relative;
  width: 209px;
  height: 69px;
  top: 17px;
  left: 18px;
}

.box .text-wrapper {
  position: absolute;
  width: 134px;
  top: 46px;
  left: 74px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #60656b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.box .div-wrapper {
  position: absolute;
  width: 63px;
  height: 46px;
  top: 0;
  left: 74px;
}

.box .text-wrapper-2 {
  position: absolute;
  width: 61px;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #292d32;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.box .group-2 {
  position: absolute;
  width: 60px;
  height: 58px;
  top: 5px;
  left: 0;
  background-color: #e3e6ff;
  border-radius: 10px;
}

.box .rectangle {
  width: 315px;
  height: 472px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}
.box .timelines {
  width: 960px;
  height: 222px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}
#progbar {
  display: block;
  box-sizing: border-box;
  height: 200px;
  width: 958px;
}
.lower {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  justify-items: center;
}
.box .stats {
  width: 423px;
  height: 305px;
  top: 0;
  left: 0;
  background-color: #ffffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .upper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .lower {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    justify-items: center;
  }
  .box .stats {
    margin: 12px;
  }
  .right {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    width: 32% !important;
  }
  .upper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .box {
    width: 45px;
  }
  .lower {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    justify-items: center;
  }
  .box .stats {
    margin: 12px;
  }
  .right {
    padding-bottom: 12px;
  }
}
