.logistics-manager {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.logistics-manager .overlap-wrapper {
  background-color: #f6f6f6;
  width: 1440px;
  height: 1027px;
}

.logistics-manager .overlap {
  position: relative;
  height: 1027px;
}

.logistics-manager .group {
  position: absolute;
  width: 433px;
  height: 48px;
  top: 632px;
  left: 965px;
}

.logistics-manager .div {
  position: relative;
  height: 48px;
}

.logistics-manager .group-wrapper {
  position: absolute;
  width: 103px;
  height: 48px;
  top: 0;
  left: 0;
}

.logistics-manager .overlap-group-wrapper {
  width: 105px;
  height: 48px;
}

.logistics-manager .overlap-group {
  position: relative;
  width: 103px;
  height: 48px;
  background-color: #0238ff;
  border-radius: 5px;
}

.logistics-manager .text-wrapper {
  position: absolute;
  width: 47px;
  top: 13px;
  left: 30px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .div-wrapper {
  position: absolute;
  width: 105px;
  height: 48px;
  top: 0;
  left: 110px;
}

.logistics-manager .overlap-group-2 {
  position: relative;
  width: 103px;
  height: 48px;
  background-color: #cdcdcd;
  border-radius: 5px;
}

.logistics-manager .text-wrapper-2 {
  position: absolute;
  width: 55px;
  top: 13px;
  left: 24px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-2 {
  position: absolute;
  width: 105px;
  height: 48px;
  top: 0;
  left: 220px;
}

.logistics-manager .text-wrapper-3 {
  position: absolute;
  width: 65px;
  top: 13px;
  left: 19px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-3 {
  position: absolute;
  width: 103px;
  height: 48px;
  top: 0;
  left: 330px;
}

.logistics-manager .text-wrapper-4 {
  position: absolute;
  width: 48px;
  top: 14px;
  left: 28px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .overlap-2 {
  position: absolute;
  width: 1440px;
  height: 1027px;
  top: 0;
  left: 0;
}

.logistics-manager .rectangle {
  position: absolute;
  width: 1440px;
  height: 66px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: var(--d-1);
}

.logistics-manager .component {
  position: absolute;
  width: 91px;
  height: 1027px;
  top: 0;
  left: 0;
}

.logistics-manager .overlap-3 {
  position: relative;
  width: 174px;
  height: 1003px;
  top: -30px;
  left: -50px;
}

.logistics-manager .rectangle-2 {
  position: absolute;
  width: 25px;
  height: 33px;
  top: 57px;
  left: 124px;
  background-color: var(--primary-color);
  border-radius: 0px 2px 2px 0px;
  box-shadow: var(--drop);
}

.logistics-manager .img {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 65px;
  left: 128px;
}

.logistics-manager .union {
  position: absolute;
  width: 174px;
  height: 1003px;
  top: 0;
  left: 0;
}

.logistics-manager .logo {
  position: absolute;
  width: 33px;
  height: 47px;
  top: 49px;
  left: 72px;
  background-image: url(./img/logo-blue-1.png);
  background-size: 100% 100%;
}

.logistics-manager .group-4 {
  position: absolute;
  width: 47px;
  height: 787px;
  top: 119px;
  left: 63px;
}

.logistics-manager .overlap-4 {
  position: relative;
  height: 787px;
}

.logistics-manager .rectangle-3 {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 56px;
  left: 0;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0px 8px 12px #8690e84c;
}

.logistics-manager .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}

.logistics-manager .group-5 {
  position: relative;
  width: 24.39px;
  height: 24px;
}

.logistics-manager .vuesax-linear-user {
  position: relative;
  width: 24px;
  height: 24px;
}

.logistics-manager .products {
  position: relative;
  width: 24px;
  height: 26.61px;
}

.logistics-manager .overlap-group-3 {
  position: relative;
  height: 27px;
}

.logistics-manager .vuesax-linear {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 0;
}

.logistics-manager .group-6 {
  position: absolute;
  width: 24px;
  height: 27px;
  top: 0;
  left: 0;
}

.logistics-manager .group-7 {
  position: relative;
  width: 27px;
  height: 18.5px;
}

.logistics-manager .overlap-5 {
  position: relative;
  width: 28px;
  height: 19px;
}

.logistics-manager .group-8 {
  position: absolute;
  width: 22px;
  height: 14px;
  top: 5px;
  left: 6px;
}

.logistics-manager .subtract {
  position: absolute;
  width: 16px;
  height: 14px;
  top: 0;
  left: 4px;
}

.logistics-manager .vector {
  position: absolute;
  width: 8px;
  height: 1px;
  top: 4px;
  left: 1px;
}

.logistics-manager .vector-2 {
  position: absolute;
  width: 9px;
  height: 1px;
  top: 6px;
  left: 0;
}

.logistics-manager .vector-3 {
  position: absolute;
  width: 6px;
  height: 1px;
  top: 8px;
  left: 2px;
}

.logistics-manager .orders {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/routing-2.svg);
  background-size: 100% 100%;
}

.logistics-manager .vuesax-linear-user-2 {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/user-square.png);
  background-size: 100% 100%;
}

.logistics-manager .union-2 {
  position: absolute;
  width: 8px;
  height: 7px;
  top: 8px;
  left: 8px;
}

.logistics-manager .rectangle-4 {
  position: absolute;
  width: 1px;
  height: 5px;
  top: 17px;
  left: 12px;
  background-color: #292d32;
}

.logistics-manager .group-9 {
  position: relative;
  width: 23.5px;
  height: 19.5px;
}

.logistics-manager .group-10 {
  position: relative;
  width: 23.85px;
  height: 25.5px;
}

.logistics-manager .overlap-6 {
  position: relative;
  width: 25px;
  height: 26px;
}

.logistics-manager .vector-4 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 10px;
  left: 11px;
}

.logistics-manager .subtract-2 {
  width: 21px;
  height: 26px;
  position: absolute;
  top: 0;
  left: 0;
}

.logistics-manager .vector-5 {
  position: absolute;
  width: 9px;
  height: 2px;
  top: 8px;
  left: 4px;
}

.logistics-manager .group-11 {
  position: relative;
  width: 28.2px;
  height: 30.23px;
  margin-left: -0.1px;
  margin-right: -0.1px;
}

.logistics-manager .products-2 {
  position: relative;
  width: 24px;
  height: 27.28px;
}

.logistics-manager .overlap-7 {
  position: relative;
  width: 24px;
  height: 27px;
}

.logistics-manager .vuesax-linear-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 0;
}

.logistics-manager .overlap-group-4 {
  position: relative;
  width: 25px;
  height: 28px;
}

.logistics-manager .group-12 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 16px;
  left: 13px;
}

.logistics-manager .subtract-3 {
  width: 22px;
  height: 27px;
  position: absolute;
  top: 0;
  left: 0;
}

.logistics-manager .vector-6 {
  position: absolute;
  width: 9px;
  height: 2px;
  top: 9px;
  left: 4px;
}

.logistics-manager .group-13 {
  position: relative;
  width: 24px;
  height: 19px;
}

.logistics-manager .analytics {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/note.svg);
  background-size: 100% 100%;
}

.logistics-manager .group-14 {
  position: relative;
  width: 19.5px;
  height: 23.5px;
  margin-bottom: -0.75px;
}

.logistics-manager .side-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 13px;
  left: 1218px;
}

.logistics-manager .group-15 {
  position: relative;
  width: 181px;
  height: 42px;
}

.logistics-manager .group-16 {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 0;
}

.logistics-manager .group-17 {
  position: absolute;
  width: 132px;
  height: 41px;
  top: 0;
  left: 53px;
}

.logistics-manager .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
}

.logistics-manager .component-2 {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 4px;
  left: 70px;
}

.logistics-manager .text-wrapper-6 {
  position: absolute;
  top: 22px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #8e8e8e;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: normal;
}

.logistics-manager .text-wrapper-7 {
  position: absolute;
  top: 98px;
  left: 111px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #292d32;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-18 {
  position: absolute;
  width: 315px;
  height: 112px;
  top: 142px;
  left: 761px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}

.logistics-manager .group-19 {
  width: 261px;
  top: 17px;
  left: 18px;
  position: relative;
  height: 69px;
}

.logistics-manager .text-wrapper-8 {
  position: absolute;
  width: 185px;
  top: 46px;
  left: 75px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #60656b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-20 {
  position: absolute;
  width: 134px;
  height: 46px;
  top: 0;
  left: 75px;
}

.logistics-manager .text-wrapper-9 {
  position: absolute;
  width: 132px;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-primary);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-21 {
  position: absolute;
  width: 60px;
  height: 59px;
  top: 5px;
  left: 0;
  background-color: #e3e6ff;
  border-radius: 10px;
}

.logistics-manager .group-22 {
  position: absolute;
  width: 45px;
  height: 46px;
  top: 7px;
  left: 6px;
}

.logistics-manager .group-23 {
  position: absolute;
  width: 315px;
  height: 112px;
  top: 142px;
  left: 436px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}

.logistics-manager .group-24 {
  position: relative;
  width: 209px;
  height: 69px;
  top: 17px;
  left: 18px;
}

.logistics-manager .text-wrapper-10 {
  position: absolute;
  width: 134px;
  top: 46px;
  left: 74px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #60656b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-25 {
  position: absolute;
  width: 91px;
  height: 46px;
  top: 0;
  left: 74px;
}

.logistics-manager .text-wrapper-11 {
  width: 89px;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-primary);
  font-size: 32px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-26 {
  position: absolute;
  width: 30px;
  height: 28px;
  top: 15px;
  left: 15px;
}

.logistics-manager .group-27 {
  position: absolute;
  width: 315px;
  height: 112px;
  top: 269px;
  left: 111px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}

.logistics-manager .group-28 {
  width: 276px;
  top: 15px;
  left: 16px;
  position: relative;
  height: 69px;
}

.logistics-manager .overlap-group-5 {
  position: absolute;
  width: 198px;
  height: 69px;
  top: 0;
  left: 76px;
}

.logistics-manager .text-wrapper-12 {
  position: absolute;
  width: 198px;
  top: 46px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #60656b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-29 {
  position: absolute;
  width: 124px;
  height: 47px;
  top: 0;
  left: 0;
}

.logistics-manager .text-wrapper-13 {
  position: absolute;
  width: 122px;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-primary);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .img-wrapper {
  position: absolute;
  width: 62px;
  height: 59px;
  top: 10px;
  left: 0;
  background-color: #e3e6ff;
  border-radius: 10px;
}

.logistics-manager .group-30 {
  position: absolute;
  width: 30px;
  height: 29px;
  top: 16px;
  left: 16px;
}

.logistics-manager .overlap-8 {
  position: absolute;
  width: 315px;
  height: 472px;
  top: 145px;
  left: 1086px;
}

.logistics-manager .union-3 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 231px;
  left: 94px;
  object-fit: cover;
}

.logistics-manager .group-31 {
  position: absolute;
  width: 315px;
  height: 472px;
  top: 0;
  left: 0;
}

.logistics-manager .overlap-9 {
  position: relative;
  width: 317px;
  height: 472px;
}

.logistics-manager .group-32 {
  position: absolute;
  width: 317px;
  height: 472px;
  top: 0;
  left: 0;
}

.logistics-manager .overlap-10 {
  position: relative;
  width: 315px;
  height: 472px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}

.logistics-manager .text-wrapper-14 {
  position: absolute;
  width: 136px;
  top: 19px;
  left: 13px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #292d32;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-33 {
  position: absolute;
  width: 187px;
  height: 182px;
  top: 67px;
  left: 65px;
}

.logistics-manager .overlap-group-6 {
  position: relative;
  width: 188px;
  height: 183px;
}

.logistics-manager .group-34 {
  position: absolute;
  width: 94px;
  height: 19px;
  top: 72px;
  left: 94px;
}

.logistics-manager .group-35 {
  position: absolute;
  width: 186px;
  height: 169px;
  top: 0;
  left: 0;
}

.logistics-manager .group-36 {
  position: absolute;
  width: 144px;
  height: 91px;
  top: 91px;
  left: 43px;
  background-image: url(./img/component-57.svg);
  background-size: 100% 100%;
}

.logistics-manager .group-37 {
  position: absolute;
  width: 41px;
  height: 47px;
  top: 43px;
  left: 18px;
}

.logistics-manager .text-wrapper-15 {
  width: 39px;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-primary);
  font-size: 32px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-38 {
  position: absolute;
  width: 279px;
  height: 69px;
  top: 378px;
  left: 17px;
}

.logistics-manager .group-39 {
  position: absolute;
  width: 86px;
  height: 69px;
  top: 0;
  left: 0;
}

.logistics-manager .text-wrapper-16 {
  position: absolute;
  width: 84px;
  top: 0;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-40 {
  position: absolute;
  width: 40px;
  height: 46px;
  top: 23px;
  left: 23px;
}

.logistics-manager .text-wrapper-17 {
  position: absolute;
  width: 38px;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-primary);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-41 {
  position: absolute;
  width: 66px;
  height: 69px;
  top: 0;
  left: 107px;
}

.logistics-manager .text-wrapper-18 {
  position: absolute;
  width: 64px;
  top: 0;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-42 {
  position: absolute;
  width: 40px;
  height: 46px;
  top: 23px;
  left: 13px;
}

.logistics-manager .group-43 {
  position: absolute;
  width: 87px;
  height: 69px;
  top: 0;
  left: 194px;
}

.logistics-manager .text-wrapper-19 {
  position: absolute;
  width: 85px;
  top: 0;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-44 {
  position: absolute;
  width: 40px;
  height: 46px;
  top: 23px;
  left: 24px;
}

.logistics-manager .group-45 {
  position: absolute;
  width: 238px;
  height: 52px;
  top: 281px;
  left: 39px;
}

.logistics-manager .group-46 {
  position: absolute;
  width: 113px;
  height: 22px;
  top: 0;
  left: 0;
}

.logistics-manager .text-wrapper-20 {
  position: absolute;
  width: 84px;
  top: 0;
  left: 27px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .ellipse {
  background-color: #c1dcff;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 1px;
  left: 0;
  border-radius: 9.5px;
}

.logistics-manager .group-47 {
  position: absolute;
  width: 92px;
  height: 22px;
  top: 30px;
  left: 77px;
}

.logistics-manager .text-wrapper-21 {
  width: 63px;
  left: 27px;
  position: absolute;
  top: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .ellipse-2 {
  background-color: #f6b654;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 1px;
  left: 0;
  border-radius: 9.5px;
}

.logistics-manager .group-48 {
  position: absolute;
  width: 113px;
  height: 22px;
  top: 0;
  left: 125px;
}

.logistics-manager .group-49 {
  position: relative;
  width: 115px;
  height: 22px;
}

.logistics-manager .ellipse-3 {
  background-color: #496ef6;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 1px;
  left: 0;
  border-radius: 9.5px;
}

.logistics-manager .text-wrapper-22 {
  width: 86px;
  left: 27px;
  position: absolute;
  top: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .line {
  width: 289px;
  height: 1px;
  top: 356px;
  left: 13px;
  position: absolute;
  object-fit: cover;
}

.logistics-manager .overlap-11 {
  position: absolute;
  width: 1277px;
  height: 313px;
  top: 695px;
  left: 121px;
}

.logistics-manager .group-50 {
  position: absolute;
  width: 1277px;
  height: 313px;
  top: 0;
  left: 0;
}

.logistics-manager .overlap-12 {
  position: absolute;
  width: 421px;
  height: 313px;
  top: 0;
  left: 0;
}

.logistics-manager .group-51 {
  position: absolute;
  width: 417px;
  height: 313px;
  top: 0;
  left: 0;
}

.logistics-manager .overlap-group-7 {
  position: relative;
  width: 415px;
  height: 313px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}

.logistics-manager .text-wrapper-23 {
  position: absolute;
  width: 213px;
  top: 14px;
  left: 20px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #292d32;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-52 {
  position: absolute;
  width: 406px;
  height: 179px;
  top: 108px;
  left: 15px;
}

.logistics-manager .overlap-13 {
  position: absolute;
  width: 356px;
  height: 159px;
  top: 0;
  left: 28px;
}

.logistics-manager .group-53 {
  position: absolute;
  width: 30px;
  height: 154px;
  top: 5px;
  left: 21px;
  background-image: url(./img/vector-9.svg);
  background-size: 100% 100%;
}

.logistics-manager .group-54 {
  position: absolute;
  width: 30px;
  height: 117px;
  top: 42px;
  left: 94px;
}

.logistics-manager .group-55 {
  position: absolute;
  width: 30px;
  height: 101px;
  top: 58px;
  left: 167px;
}

.logistics-manager .group-56 {
  position: absolute;
  width: 30px;
  height: 76px;
  top: 83px;
  left: 241px;
}

.logistics-manager .group-57 {
  position: absolute;
  width: 30px;
  height: 58px;
  top: 101px;
  left: 314px;
}

.logistics-manager .group-58 {
  position: absolute;
  width: 356px;
  height: 159px;
  top: 0;
  left: 0;
}

.logistics-manager .line-2 {
  width: 355px;
  height: 1px;
  top: 158px;
  left: 1px;
  position: absolute;
  object-fit: cover;
}

.logistics-manager .line-3 {
  width: 1px;
  height: 159px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.logistics-manager .group-59 {
  position: absolute;
  width: 85px;
  height: 25px;
  top: 91px;
  left: 175px;
}

.logistics-manager .overlap-group-8 {
  position: relative;
  height: 25px;
}

.logistics-manager .rectangle-5 {
  position: absolute;
  width: 79px;
  height: 25px;
  top: 0;
  left: 6px;
  background-color: var(--collection-1-white);
  border-radius: 3px;
  box-shadow: 0px 2px 1.9px #0000001a;
}

.logistics-manager .polygon {
  position: absolute;
  width: 6px;
  height: 11px;
  top: 8px;
  left: 0;
}

.logistics-manager .group-60 {
  position: absolute;
  width: 74px;
  height: 16px;
  top: 4px;
  left: 10px;
}

.logistics-manager .text-wrapper-24 {
  position: absolute;
  width: 56px;
  top: 0;
  left: 16px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .rectangle-6 {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 3px;
  left: 0;
  background-color: #6787ff;
}

.logistics-manager .text-wrapper-25 {
  width: 16px;
  top: 146px;
  left: 5px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-26 {
  position: absolute;
  width: 48px;
  top: 166px;
  left: 45px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-27 {
  position: absolute;
  width: 53px;
  top: 166px;
  left: 108px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-28 {
  position: absolute;
  width: 53px;
  top: 166px;
  left: 181px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-29 {
  position: absolute;
  width: 53px;
  top: 166px;
  left: 256px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-30 {
  position: absolute;
  width: 53px;
  top: 166px;
  left: 329px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-31 {
  width: 16px;
  top: 117px;
  left: 5px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-32 {
  width: 15px;
  top: 87px;
  left: 6px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-33 {
  width: 21px;
  top: 58px;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-34 {
  width: 21px;
  top: 29px;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-35 {
  width: 15px;
  top: 0;
  left: 6px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-61 {
  position: absolute;
  width: 417px;
  height: 313px;
  top: 0;
  left: 862px;
}

.logistics-manager .overlap-14 {
  position: relative;
  width: 415px;
  height: 313px;
  border-radius: 10px;
}

.logistics-manager .group-62 {
  position: absolute;
  width: 415px;
  height: 313px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}

.logistics-manager .group-63 {
  position: relative;
  width: 406px;
  height: 179px;
  top: 107px;
  left: 14px;
}

.logistics-manager .overlap-group-9 {
  position: absolute;
  width: 355px;
  height: 154px;
  top: 5px;
  left: 29px;
}

.logistics-manager .group-64 {
  position: absolute;
  width: 30px;
  height: 154px;
  top: 0;
  left: 20px;
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}

.logistics-manager .group-65 {
  position: absolute;
  width: 30px;
  height: 117px;
  top: 37px;
  left: 93px;
}

.logistics-manager .group-66 {
  position: absolute;
  width: 30px;
  height: 101px;
  top: 53px;
  left: 166px;
}

.logistics-manager .group-67 {
  position: absolute;
  width: 30px;
  height: 76px;
  top: 77px;
  left: 240px;
}

.logistics-manager .group-68 {
  position: absolute;
  width: 30px;
  height: 58px;
  top: 96px;
  left: 313px;
}

.logistics-manager .line-4 {
  width: 355px;
  top: 153px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.logistics-manager .line-5 {
  height: 159px;
  left: 28px;
  position: absolute;
  width: 1px;
  top: 0;
  object-fit: cover;
}

.logistics-manager .text-wrapper-36 {
  width: 17px;
  top: 146px;
  left: 4px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-37 {
  position: absolute;
  width: 37px;
  top: 166px;
  left: 45px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-38 {
  position: absolute;
  width: 43px;
  top: 166px;
  left: 115px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-39 {
  position: absolute;
  width: 53px;
  top: 166px;
  left: 187px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-40 {
  position: absolute;
  width: 47px;
  top: 166px;
  left: 266px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-41 {
  position: absolute;
  width: 34px;
  top: 166px;
  left: 342px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-42 {
  width: 17px;
  top: 117px;
  left: 4px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-43 {
  position: absolute;
  width: 233px;
  top: 15px;
  left: 21px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #292d32;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .component-3 {
  position: absolute;
  width: 417px;
  height: 313px;
  top: 0;
  left: 430px;
}

.logistics-manager .div-2 {
  position: absolute;
  width: 419px;
  height: 313px;
  top: 0;
  left: 0;
}

.logistics-manager .overlap-15 {
  position: relative;
  width: 429px;
  height: 313px;
}

.logistics-manager .group-69 {
  position: absolute;
  width: 429px;
  height: 313px;
  top: 0;
  left: 0;
}

.logistics-manager .overlap-group-10 {
  position: relative;
  width: 417px;
  height: 313px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}

.logistics-manager .overlap-16 {
  position: absolute;
  width: 367px;
  height: 177px;
  top: 89px;
  left: 40px;
}

.logistics-manager .group-70 {
  position: absolute;
  width: 342px;
  height: 154px;
  top: 24px;
  left: 13px;
}

.logistics-manager .group-71 {
  position: absolute;
  width: 30px;
  height: 154px;
  top: 0;
  left: 0;
  background-image: url(./img/vector-11.svg);
  background-size: 100% 100%;
}

.logistics-manager .group-72 {
  position: absolute;
  width: 30px;
  height: 117px;
  top: 37px;
  left: 62px;
}

.logistics-manager .group-73 {
  position: absolute;
  width: 30px;
  height: 101px;
  top: 53px;
  left: 125px;
}

.logistics-manager .vector-7 {
  position: absolute;
  width: 30px;
  height: 76px;
  top: 77px;
  left: 187px;
}

.logistics-manager .vector-8 {
  position: absolute;
  width: 30px;
  height: 76px;
  top: 76px;
  left: 312px;
}

.logistics-manager .group-74 {
  position: absolute;
  width: 30px;
  height: 58px;
  top: 96px;
  left: 250px;
}

.logistics-manager .group-75 {
  position: absolute;
  width: 367px;
  height: 177px;
  top: 0;
  left: 0;
}

.logistics-manager .line-6 {
  width: 366px;
  top: 176px;
  left: 1px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.logistics-manager .line-7 {
  height: 177px;
  left: 0;
  position: absolute;
  width: 1px;
  top: 0;
  object-fit: cover;
}

.logistics-manager .text-wrapper-44 {
  width: 24px;
  top: 252px;
  left: 8px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-45 {
  width: 24px;
  top: 223px;
  left: 8px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-46 {
  width: 22px;
  top: 194px;
  left: 10px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-47 {
  width: 30px;
  top: 165px;
  left: 2px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-48 {
  width: 30px;
  top: 136px;
  left: 2px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-49 {
  width: 22px;
  top: 107px;
  left: 10px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #47494c;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .text-wrapper-50 {
  position: absolute;
  width: 223px;
  top: 15px;
  left: 22px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #292d32;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-76 {
  position: absolute;
  width: 65px;
  height: 22px;
  top: 157px;
  left: 73px;
}

.logistics-manager .overlap-17 {
  position: relative;
  height: 22px;
}

.logistics-manager .rectangle-7 {
  width: 60px;
  height: 22px;
  left: 5px;
  position: absolute;
  top: 0;
  background-color: var(--collection-1-white);
  border-radius: 3px;
  box-shadow: 0px 2px 1.9px #0000001a;
}

.logistics-manager .polygon-2 {
  position: absolute;
  width: 6px;
  height: 10px;
  top: 6px;
  left: 0;
}

.logistics-manager .group-77 {
  position: absolute;
  width: 54px;
  height: 15px;
  top: 3px;
  left: 10px;
}

.logistics-manager .text-wrapper-51 {
  position: absolute;
  width: 38px;
  top: 0;
  left: 14px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-78 {
  width: 85px;
  top: 49px;
  left: 22px;
  position: absolute;
  height: 17px;
}

.logistics-manager .text-wrapper-52 {
  position: absolute;
  width: 61px;
  top: 0;
  left: 22px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .rectangle-8 {
  position: absolute;
  width: 16px;
  height: 14px;
  top: 3px;
  left: 0;
  background-color: #6787ff;
}

.logistics-manager .text-wrapper-53 {
  position: absolute;
  width: 37px;
  top: 273px;
  left: 53px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-54 {
  position: absolute;
  width: 36px;
  top: 273px;
  left: 113px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-55 {
  position: absolute;
  width: 46px;
  top: 273px;
  left: 173px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-56 {
  position: absolute;
  width: 38px;
  top: 273px;
  left: 242px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-57 {
  position: absolute;
  width: 36px;
  top: 273px;
  left: 303px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .text-wrapper-58 {
  position: absolute;
  width: 34px;
  top: 273px;
  left: 363px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #343434;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .union-4 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -319px;
  left: 629px;
  object-fit: cover;
}

.logistics-manager .group-79 {
  width: 78px;
  top: 44px;
  left: 11px;
  position: absolute;
  height: 17px;
}

.logistics-manager .text-wrapper-59 {
  position: absolute;
  width: 54px;
  top: 0;
  left: 22px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .group-80 {
  position: absolute;
  width: 57px;
  height: 17px;
  top: 43px;
  left: 880px;
}

.logistics-manager .text-wrapper-60 {
  position: absolute;
  width: 33px;
  top: 0;
  left: 22px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .group-81 {
  position: absolute;
  width: 640px;
  height: 112px;
  top: 269px;
  left: 436px;
}

.logistics-manager .overlap-18 {
  position: absolute;
  width: 315px;
  height: 112px;
  top: 0;
  left: 325px;
  border-radius: 10px;
}

.logistics-manager .group-82 {
  position: absolute;
  width: 315px;
  height: 112px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}

.logistics-manager .group-83 {
  width: 283px;
  top: 17px;
  left: 19px;
  position: relative;
  height: 69px;
}

.logistics-manager .text-wrapper-61 {
  position: absolute;
  width: 200px;
  top: 46px;
  left: 81px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #60656b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-84 {
  position: absolute;
  width: 116px;
  height: 46px;
  top: 0;
  left: 81px;
}

.logistics-manager .text-wrapper-62 {
  width: 114px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-primary);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-85 {
  position: absolute;
  width: 65px;
  height: 59px;
  top: 5px;
  left: 0;
  background-color: #e3e6ff;
  border-radius: 10px;
}

.logistics-manager .group-86 {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 39px;
  left: 34px;
}

.logistics-manager .group-87 {
  width: 245px;
  top: 17px;
  left: 19px;
  position: relative;
  height: 69px;
}

.logistics-manager .overlap-group-11 {
  position: absolute;
  width: 167px;
  height: 69px;
  top: 0;
  left: 76px;
}

.logistics-manager .text-wrapper-63 {
  position: absolute;
  width: 167px;
  top: 46px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #60656b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-88 {
  position: absolute;
  width: 131px;
  height: 47px;
  top: 0;
  left: 1px;
}

.logistics-manager .text-wrapper-64 {
  width: 129px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-primary);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-89 {
  position: absolute;
  width: 62px;
  height: 59px;
  top: 5px;
  left: 0;
  background-color: #e3e6ff;
  border-radius: 10px;
}

.logistics-manager .group-90 {
  position: absolute;
  width: 33px;
  height: 22px;
  top: 19px;
  left: 15px;
}

.logistics-manager .group-91 {
  position: absolute;
  width: 315px;
  height: 112px;
  top: 142px;
  left: 111px;
}

.logistics-manager .overlap-19 {
  position: relative;
  height: 112px;
  border-radius: 10px;
}

.logistics-manager .group-92 {
  position: absolute;
  width: 63px;
  height: 46px;
  top: 0;
  left: 74px;
}

.logistics-manager .text-wrapper-65 {
  width: 61px;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text-primary);
  font-size: 32px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-93 {
  position: absolute;
  width: 25px;
  height: 34px;
  top: 38px;
  left: 36px;
}

.logistics-manager .overlap-20 {
  position: absolute;
  width: 964px;
  height: 222px;
  top: 395px;
  left: 111px;
  border-radius: 10px;
}

.logistics-manager .group-94 {
  position: absolute;
  width: 964px;
  height: 222px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d3d3d3;
}

.logistics-manager .overlap-21 {
  position: absolute;
  width: 884px;
  height: 76px;
  top: 16px;
  left: 21px;
}

.logistics-manager .overlap-22 {
  position: absolute;
  width: 884px;
  height: 73px;
  top: 3px;
  left: 0;
}

.logistics-manager .group-95 {
  position: absolute;
  width: 353px;
  height: 22px;
  top: 0;
  left: 478px;
}

.logistics-manager .group-96 {
  position: absolute;
  width: 113px;
  height: 22px;
  top: 0;
  left: 240px;
}

.logistics-manager .text-wrapper-66 {
  width: 84px;
  left: 29px;
  position: absolute;
  top: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .rectangle-9 {
  width: 20px;
  height: 13px;
  top: 5px;
  background-color: #4169ff;
  position: absolute;
  left: 0;
}

.logistics-manager .group-97 {
  position: absolute;
  width: 113px;
  height: 22px;
  top: 0;
  left: 120px;
}

.logistics-manager .rectangle-10 {
  width: 20px;
  height: 13px;
  top: 5px;
  background-color: #feaa48;
  position: absolute;
  left: 0;
}

.logistics-manager .group-98 {
  position: absolute;
  width: 115px;
  height: 22px;
  top: 0;
  left: 0;
}

.logistics-manager .rectangle-11 {
  width: 20px;
  height: 13px;
  top: 4px;
  background-color: #49c288;
  position: absolute;
  left: 0;
}

.logistics-manager .overlap-23 {
  position: absolute;
  width: 884px;
  height: 53px;
  top: 20px;
  left: 0;
}

.logistics-manager .group-99 {
  position: absolute;
  width: 884px;
  height: 25px;
  top: 28px;
  left: 0;
}

.logistics-manager .div-3 {
  position: absolute;
  width: 776px;
  height: 25px;
  top: 0;
  left: 107px;
}

.logistics-manager .group-100 {
  position: absolute;
  width: 776px;
  height: 13px;
  top: 7px;
  left: 0;
}

.logistics-manager .overlap-group-12 {
  position: relative;
  height: 13px;
}

.logistics-manager .rectangle-12 {
  position: absolute;
  width: 762px;
  height: 13px;
  top: 0;
  left: 14px;
  background-color: #4169ff;
  border-radius: 10px;
}

.logistics-manager .rectangle-13 {
  position: absolute;
  width: 125px;
  height: 13px;
  top: 0;
  left: 0;
  background-color: #3ec886;
  border-radius: 10px 0px 0px 10px;
}

.logistics-manager .vector-9 {
  position: absolute;
  width: 96px;
  height: 13px;
  top: 0;
  left: 116px;
}

.logistics-manager .group-101 {
  position: absolute;
  width: 29px;
  height: 24px;
  top: 0;
  left: 102px;
}

.logistics-manager .group-102 {
  position: absolute;
  width: 29px;
  height: 24px;
  top: 1px;
  left: 201px;
}

.logistics-manager .text-wrapper-67 {
  position: absolute;
  width: 99px;
  top: 4px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .group-103 {
  position: absolute;
  width: 130px;
  height: 35px;
  top: 0;
  left: 257px;
}

.logistics-manager .overlap-24 {
  position: relative;
  height: 35px;
}

.logistics-manager .rectangle-14 {
  width: 130px;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  background-color: var(--collection-1-white);
  border-radius: 3px;
  box-shadow: 0px 2px 1.9px #0000001a;
}

.logistics-manager .polygon-3 {
  position: absolute;
  width: 13px;
  height: 9px;
  top: 26px;
  left: 59px;
}

.logistics-manager .group-104 {
  position: absolute;
  width: 118px;
  height: 17px;
  top: 5px;
  left: 5px;
}

.logistics-manager .text-wrapper-68 {
  position: absolute;
  width: 98px;
  top: 0;
  left: 18px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .rectangle-15 {
  width: 15px;
  height: 11px;
  top: 5px;
  background-color: #feaa48;
  position: absolute;
  left: 0;
}

.logistics-manager .group-105 {
  position: absolute;
  width: 172px;
  height: 22px;
  top: 0;
  left: 0;
}

.logistics-manager .group-106 {
  position: relative;
  width: 174px;
  height: 22px;
}

.logistics-manager .text-wrapper-69 {
  position: absolute;
  width: 172px;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #292d32;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.logistics-manager .group-107 {
  position: absolute;
  width: 884px;
  height: 25px;
  top: 166px;
  left: 20px;
}

.logistics-manager .overlap-25 {
  position: absolute;
  width: 775px;
  height: 25px;
  top: 0;
  left: 107px;
}

.logistics-manager .group-108 {
  position: absolute;
  width: 775px;
  height: 13px;
  top: 7px;
  left: 0;
}

.logistics-manager .rectangle-16 {
  position: absolute;
  width: 560px;
  height: 13px;
  top: 0;
  left: 215px;
  background-color: #4169ff;
  border-radius: 10px;
}

.logistics-manager .overlap-group-13 {
  position: absolute;
  width: 212px;
  height: 13px;
  top: 0;
  left: 0;
}

.logistics-manager .text-wrapper-70 {
  position: absolute;
  width: 99px;
  top: 3px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .group-109 {
  position: absolute;
  width: 884px;
  height: 25px;
  top: 132px;
  left: 20px;
}

.logistics-manager .overlap-26 {
  position: relative;
  width: 882px;
  height: 25px;
}

.logistics-manager .rectangle-17 {
  position: absolute;
  width: 760px;
  height: 13px;
  top: 6px;
  left: 16px;
  background-color: #4169ff;
  border-radius: 10px;
}

.logistics-manager .rectangle-18 {
  position: absolute;
  width: 162px;
  height: 13px;
  top: 6px;
  left: 0;
  background-color: #3ec886;
  border-radius: 10px 0px 0px 10px;
}

.logistics-manager .vector-10 {
  position: absolute;
  width: 145px;
  height: 13px;
  top: 7px;
  left: 161px;
}

.logistics-manager .group-110 {
  position: absolute;
  width: 29px;
  height: 24px;
  top: 1px;
  left: 141px;
}

.logistics-manager .group-111 {
  position: absolute;
  width: 29px;
  height: 24px;
  top: 0;
  left: 300px;
}

.logistics-manager .text-wrapper-71 {
  position: absolute;
  width: 110px;
  top: 5px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.logistics-manager .group-112 {
  position: absolute;
  width: 883px;
  height: 24px;
  top: 100px;
  left: 20px;
}

.logistics-manager .group-113 {
  position: absolute;
  width: 775px;
  height: 24px;
  top: 0;
  left: 107px;
}

.logistics-manager .overlap-group-14 {
  position: relative;
  height: 24px;
}

.logistics-manager .rectangle-19 {
  position: absolute;
  width: 761px;
  height: 13px;
  top: 6px;
  left: 14px;
  background-color: #4169ff;
  border-radius: 10px;
}

.logistics-manager .rectangle-20 {
  position: absolute;
  width: 115px;
  height: 13px;
  top: 6px;
  left: 0;
  background-color: #3ec886;
  border-radius: 10px 0px 0px 10px;
}

.logistics-manager .vector-11 {
  position: absolute;
  width: 137px;
  height: 13px;
  top: 6px;
  left: 115px;
}

.logistics-manager .group-114 {
  position: absolute;
  width: 29px;
  height: 24px;
  top: 0;
  left: 101px;
}

.logistics-manager .group-115 {
  position: absolute;
  width: 29px;
  height: 24px;
  top: 0;
  left: 229px;
}

.logistics-manager .vector-wrapper {
  position: absolute;
  width: 32px;
  height: 28px;
  top: 14px;
  left: 875px;
  background-color: var(--collection-1-white);
  border-radius: 3px;
  box-shadow: 0px 1px 4px #00000033;
}

.logistics-manager .vector-12 {
  position: absolute;
  width: 7px;
  height: 11px;
  top: 9px;
  left: 13px;
}

.logistics-manager .group-116 {
  position: absolute;
  width: 32px;
  height: 28px;
  top: 14px;
  left: 919px;
  background-color: var(--collection-1-white);
  border-radius: 3px;
  box-shadow: 0px 1px 3.6px #00000033;
}

.logistics-manager .group-117 {
  position: absolute;
  width: 140px;
  height: 48px;
  top: 632px;
  left: 812px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid;
  border-color: #292d32;
}

.logistics-manager .group-118 {
  position: relative;
  width: 122px;
  height: 23px;
  top: 12px;
  left: 10px;
}

.logistics-manager .vector-13 {
  position: absolute;
  width: 23px;
  height: 22px;
  top: 0;
  left: 0;
}

.logistics-manager .text-wrapper-72 {
  position: absolute;
  width: 89px;
  top: 0;
  left: 31px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
