*{
  box-sizing: border-box;
}

.title{
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;


}
.upper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}
.right{
  padding-right: 30px;
}
.box .group {
  width: 300px;
  height: 110px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #d3d3d3;
}
.box .div {
  position: relative;
  width: 209px;
  height: 69px;
  top: 17px;
  left: 18px;
  
}

.box .text-wrapper {
  position: absolute;
  width: 134px;
  top: 46px;
  left: 74px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #60656b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.box .div-wrapper {
  position: absolute;
  width: 63px;
  height: 46px;
  top: 0;
  left: 74px;
}

.box .text-wrapper-2 {
  position: absolute;
  width: 61px;
  top: 0;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #292d32;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.box .group-2 {
  position: absolute;
  width: 60px;
  height: 58px;
  top: 5px;
  left: 0;
  background-color: #e3e6ff;
  border-radius: 20px;
}


.box .rectangle {
  margin-top: 18px;
  width: 315px;
  height: 487px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #d3d3d3;
}
.box .timelines {
  margin-left: 11px ; 
  width: 941px ;
  height: 222px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #d3d3d3;
  
}
.lower{
  margin-left: 93px;
    column-gap: 18px;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    padding: 20px;
    justify-items: stretch;

}
.box .stats {
  width: 423px;
  height : 270px;
  top: 0;
  left: 0;
  background-color: #ffffffff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #d3d3d3;
}


.rectangular-buttons {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px; 
  margin-right: 100px;
}

.rectangular-buttons .button {
  padding: 10px 20px;
  margin: 0 5px; 
  background-color: #a0a2a7; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}


.rectangular-buttons .button.active {
  background-color: #1130fd; 
}

.rectangular-buttons .button:hover:not(.active) {
  background-color: #1130fd;
}

 .calendar-button {
  padding: 10px 20px;
  margin: 0 5px; 
  background-color: #a0a2a7; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 }

 .myChart4{
  display: none;
}






@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .cgroup{
    margin-left: 13px !important;
    width: 68% !important;
  }
  .upper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
  
  }
  .lower{
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    margin-left: 30px;
    column-gap: 0px;

  }
  .lower .box{
    
    width: 100px;
  }
  .canvas{
    width: 320px !important;
  }
  .lower .box .stats {
    width: 330px;
  }
  .myChart4{
    display: none;
  }

   .tbox{
    width: 50px !important;
    margin-left: 13px !important;
  }

  .pbox{
    margin-left: -322px;
  }
.timelines{
  width: 617px !important;
} 

  .box .stats {
    margin: 12px;
    height: 200px;
  }
  .right {
    padding-bottom: 12px;
  }

  .rectangular-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 0px;
    width: 610px;
    margin-left: 59px;
}
}







@media screen and (max-width: 380px){
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .box .group {
  width: 250px;
  height: 110px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #d3d3d3;
  
}
  .cgroup{
    margin-left: 311px !important;
    width: 68% !important;
    column-gap: 10px !important;
  }
  .upper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
  
  }
  .lower{
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    margin-left: 30px;
    column-gap: 0px;

  }
  .lower .box{
    
    width: 100px;
  }
  .canvas{
    width: 320px !important;
  }
  .lower .box .stats {
    width: 330px;
  }
  .myChart4{
    display: none;
  }

   .tbox{
    width: 50px !important;
    margin-left: 315px !important;
  }

  .pbox{
    margin-left: 235px;
  }
.timelines{
  width: 617px !important;
} 

  .box .stats {
    margin: 12px;
    height: 200px;
  }
  .right {
    padding-bottom: 12px;
  }

  .rectangular-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 0px;
    width: 610px;
    margin-left: 59px;
}
}



